<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kun.aiinterview.question.mapper.QuestionMapper">

    <insert id="insertQuestion"
            parameterType = "com.kun.aiinterview.question.entity.Question"
            useGeneratedKeys = "true"
            keyProperty = "id">
        Insert INTO question
        (
            category,
            knowledge_point,
            difficulty,
            question_content,
            reference_answer,
            status
        )
        VALUES
        (
            #{category},
            #{knowledgePoint},
            #{difficulty},
            #{questionContent},
            #{referenceAnswer},
            #{status}
        )

    </insert>

    <select id="getQuestionById"
            resultType="com.kun.aiinterview.question.entity.Question">
        SELECT id,
               category,
               knowledge_point,
               difficulty,
               question_content,
               reference_answer,
               status,
               created_at,
               updated_at
        FROM question
        WHERE id = #{id}
    </select>

    <update id="updateQuestion">
        UPDATE question
        SET category = #{category},
            knowledge_point = #{knowledgePoint},
            difficulty = #{difficulty},
            question_content = #{questionContent},
            reference_answer = #{referenceAnswer}
        WHERE id = #{id}
    </update>

    <sql id = "QuestionPageFilter">
        <where>
            <if test = "query.category != null">
                AND category = #{query.category}
            </if>

            <if test = "query.difficulty != null">
                AND difficulty  = #{query.difficulty}
            </if>

            <if test = "query.status != null">
                AND status = #{query.status}
            </if>

            <if test = "query.keyword != null and query.keyword != ''">
                AND (
                    knowledge_point LIKE CONCAT('%',#{query.keyword},'%')
                    OR question_content LIKE CONCAT('%',#{query.keyword},'%')
                )
            </if>
        </where>
    </sql>

    <select id = "countQuestion" resultType = "long">
        SELECT COUNT(*)
        FROM question

        <include refid="QuestionPageFilter"/>
    </select>

    <select id = "selectQuestionPage" resultType = "com.kun.aiinterview.question.vo.AdminQuestionListItem">
        SELECT  id,
                category,
                knowledge_point,
                difficulty,
                question_content,
                status,
                updated_at
        FROM question

        <include refid="QuestionPageFilter"/>

        ORDER BY updated_at DESC,id DESC
        LIMIT #{pageSize}
        OFFSET #{offset}
    </select>
</mapper>
